{% extends 'base.html.twig' %}

{% block title %}Page des professeurs{% endblock %}

{% block body %}
    <h2>Liste des cours</h2>

    <h3>Liste des PDF</h3>

    <h3>Liste des Vidéos</h3>

{% endblock %}
